:root {
    --box-bg: #00000088;
    --consistent-radius: 1rem;
}
body {
    background-color: #1e1e1e;
    margin: 1rem;
    color: white;
    font-family: sans-serif;
}

.infoText {
    color: lightgrey;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
}

.infoTextBox,
#videoBox {
    background-color: var(--box-bg);
    border-radius: var(--consistent-radius);
    margin: 1rem;
    padding: 1rem;
}

#videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.mainButton {
    background-color: var(--box-bg);
    border-radius: var(--consistent-radius);
    border-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    flex: 1;
}

.mainButtonContainer {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    background-color: var(--box-bg);
    color: white;
    border-radius: var(--consistent-radius);
    margin: 1rem;
    padding: 1rem;
    flex: 1;
}
